In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from utils import defaultCityDistricts, mkdir

import classroom
import teachers
import course
import aClass
import students
import meeting
import exams
import surveys
import attendance

In [136]:
#This cell generates data

df_classrooms = classroom.generate(357, 999)
df_teachers = teachers.generate(300)
df_courses = course.generate(300, df_teachers)
df_classes, df_courses = aClass.generate(10, df_teachers, df_courses)
df_students = students.generate(800, df_classes)
# if too many meetings have to be scheduled, may enter infinite loop; if it happens restart the kernel and run the code again
df_meetings = meeting.generate(0, df_courses, df_classrooms, df_classes, "2022-06-27", "2022-09-5")
df_exams = exams.generate(0, df_meetings, df_students)
df_surveys = surveys.generate(0, df_meetings, df_students, df_courses)
df_attendance = attendance.generate(0, df_meetings, df_students, df_teachers, df_courses)

Generating schedule for 7 days between 2022-06-27 and 2022-09-5
Starting at 2024-04-14 22:49:35.006707

c:\projects\schoolDataGeneration\meeting.py:220: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  snapshot = time.time()

|2022-06-27|>>>|2022-06-27|>>>|2022-09-5|14.29%   ETC:0:00:09s
|2022-06-27|>>>|2022-06-28|>>>|2022-09-5|28.57%   ETC:0:00:07s
|2022-06-27|>>>|2022-06-29|>>>|2022-09-5|42.86%   ETC:0:00:06s
|2022-06-27|>>>|2022-06-30|>>>|2022-09-5|57.14%   ETC:0:00:04s
|2022-06-27|>>>|2022-09-01|>>>|2022-09-5|71.43%   ETC:0:00:03s
|2022-06-27|>>>|2022-09-02|>>>|2022-09-5|85.71%   ETC:0:00:01s
|2022-06-27|>>>|2022-09-05|>>>|2022-09-5|100.0%   ETC:0:00:00s

Timer schedule class day:
Total time: 7 s
Total calls: 420
Average time: 17 ms

Timer all classes:
Total time: 8 s
Total calls: 7
Average time: 1263 ms

Timer combinations:
Total time: 0 s
Total calls: 8
Average time: 15 ms

Timer schedulers:
Total time: 0 s
Total calls: 2545
Average time: 0 ms

In [137]:
df_meetings[df_meetings["ClassName"] == "A22"].merge(df_courses, left_on="cID", right_on="cID")

,mID,Date,RoomNumber,cID,ClassName,StartHour,EndHour,Year_x,Month,Name,Year_y,tID
0,0,2022-06-27 07:00:00,854,195,A22,7,8,2022,06,Music,2,160
1,1,2022-06-27 08:00:00,116,63,A22,8,9,2022,06,Music,2,34
2,2,2022-06-27 09:00:00,11,293,A22,9,10,2022,06,History,2,98
3,3,2022-06-27 10:00:00,332,241,A22,10,11,2022,06,Philosophy,2,291
4,4,2022-06-27 11:00:00,469,190,A22,11,12,2022,06,Philosophy,2,272
5,5,2022-06-27 12:00:00,322,193,A22,12,13,2022,06,English,2,124
6,6,2022-06-27 13:00:00,204,133,A22,13,14,2022,06,Chemistry,2,36
7,7,2022-06-27 14:00:00,135,360,A22,14,15,2022,06,Homeroom,2,262
8,375,2022-06-28 07:00:00,246,195,A22,7,8,2022,06,Music,2,160
9,376,2022-06-28 08:00:00,691,293,A22,8,9,2022,06,History,2,98
10,377,2022-06-28 09:00:00,601,63,A22,9,10,2022,06,Music,2,34
11,378,2022-06-28 10:00:00,154,241,A22,10,11,2022,06,Philosophy,2,291
12,379,2022-06-28 11:00:00,568,190,A22,11,12,2022,06,Philosophy,2,272
13,380,2022-06-28 12:00:00,682,193,A22,12,13,2022,06,English,2,124
14,381,2022-06-28 13:00:00,489,133,A22,13,14,2022,06,Chemistry,2,36
15,382,2022-06-28 14:00:00,823,360,A22,14,15,2022,06,Homeroom,2,262
16,750,2022-06-29 07:00:00,356,195,A22,7,8,2022,06,Music,2,160
17,751,2022-06-29 08:00:00,884,293,A22,8,9,2022,06,History,2,98
18,752,2022-06-29 09:00:00,777,63,A22,9,10,2022,06,Music,2,34
19,753,2022-06-29 10:00:00,547,241,A22,10,11,2022,06,Philosophy,2,291
20,754,2022-06-29 11:00:00,701,190,A22,11,12,2022,06,Philosophy,2,272
21,755,2022-06-29 12:00:00,14,193,A22,12,13,2022,06,English,2,124
22,756,2022-06-29 13:00:00,749,133,A22,13,14,2022,06,Chemistry,2,36
23,757,2022-06-29 14:00:00,967,360,A22,14,15,2022,06,Homeroom,2,262
24,1125,2022-06-30 07:00:00,614,195,A22,7,8,2022,06,Music,2,160
25,1126,2022-06-30 08:00:00,111,63,A22,8,9,2022,06,Music,2,34
26,1127,2022-06-30 09:00:00,494,293,A22,9,10,2022,06,History,2,98
27,1128,2022-06-30 10:00:00,143,241,A22,10,11,2022,06,Philosophy,2,291
28,1129,2022-06-30 11:00:00,360,190,A22,11,12,2022,06,Philosophy,2,272
29,1130,2022-06-30 12:00:00,777,193,A22,12,13,2022,06,English,2,124
30,1131,2022-06-30 13:00:00,150,133,A22,13,14,2022,06,Chemistry,2,36
31,1132,2022-06-30 14:00:00,849,360,A22,14,15,2022,06,Homeroom,2,262
32,1500,2022-09-01 07:00:00,51,130,A22,7,8,2022,09,History,3,202
33,1501,2022-09-01 08:00:00,321,98,A22,8,9,2022,09,Ethics,3,126
34,1502,2022-09-01 09:00:00,368,91,A22,9,10,2022,09,French,3,141
35,1503,2022-09-01 10:00:00,788,127,A22,10,11,2022,09,Sociology,3,126
36,1504,2022-09-01 11:00:00,990,420,A22,11,12,2022,09,Homeroom,3,262
37,1811,2022-09-02 07:00:00,338,130,A22,7,8,2022,09,History,3,202
38,1812,2022-09-02 08:00:00,336,98,A22,8,9,2022,09,Ethics,3,126
39,1813,2022-09-02 09:00:00,132,127,A22,9,10,2022,09,Sociology,3,126
40,1814,2022-09-02 10:00:00,75,91,A22,10,11,2022,09,French,3,141
41,1815,2022-09-02 11:00:00,417,420,A22,11,12,2022,09,Homeroom,3,262
42,2122,2022-09-05 07:00:00,481,130,A22,7,8,2022,09,History,3,202
43,2123,2022-09-05 08:00:00,312,91,A22,8,9,2022,09,French,3,141
44,2124,2022-09-05 09:00:00,254,98,A22,9,10,2022,09,Ethics,3,126
45,2125,2022-09-05 10:00:00,20,127,A22,10,11,2022,09,Sociology,3,126
46,2126,2022-09-05 11:00:00,731,420,A22,11,12,2022,09,Homeroom,3,262

In [ ]:
#This cell loads data from csv files

path = "data"

df_classrooms = pd.read_csv(f"{path}/classrooms.csv")
df_teachers = pd.read_csv(f"{path}/teachers.csv")
df_courses = pd.read_csv(f"{path}/courses.csv")
df_classes = pd.read_csv(f"{path}/classes.csv")
df_students = pd.read_csv(f"{path}/students.csv")
df_meetings = pd.read_csv(f"{path}/meetings.csv")
df_exams = pd.read_csv(f"{path}/exams.csv")
df_surveys = pd.read_csv(f"{path}/surveys.csv")
df_attendance = pd.read_csv(f"{path}/attendance.csv")

In [4]:
#This cell purges unused rows
size =len(df_classrooms)
df_classrooms = df_classrooms[df_classrooms["RoomNumber"].isin(df_meetings["RoomNumber"])]
df_classrooms_removed = df_classrooms[~df_classrooms["RoomNumber"].isin(df_meetings["RoomNumber"])]
print(f"Removed {size - len(df_classrooms)} classrooms")

size =len(df_teachers)
df_teachers = df_teachers[df_teachers["tID"].isin(pd.concat([df_classes["tID"], df_courses["tID"]]).unique())]
df_teachers_removed = df_teachers[~df_teachers["tID"].isin(df_classes["tID"] + df_courses["tID"])]
print(f"Removed {size - len(df_teachers)} teachers")

size =len(df_courses)
df_courses = df_courses[df_courses["cID"].isin(df_classes["courses"].explode().unique())]
df_courses_removed = df_courses[~df_courses["cID"].isin(df_classes["courses"].explode().unique())]
print(f"Removed {size - len(df_courses)} courses")

size =len(df_classes)
df_classes = df_classes[df_classes["ClassName"].isin(df_students["ClassName"])]
df_courses_classes = df_classes[~df_classes["ClassName"].isin(df_students["ClassName"])]
print(f"Removed {size - len(df_classes)} classes")

Removed 47 classrooms
Removed 91 teachers
Removed 85 courses
Removed 0 classes

In [9]:
path = "data"
headers = True
indexing = False

mkdir(path)

df_students.drop(columns=["iq"]).to_csv(f"{path}/students.csv", index=indexing, header=headers)
df_classes.drop(columns=["Year", "courses"]).to_csv(f"{path}/classes.csv", index=indexing, header=headers)
df_teachers.to_csv(f"{path}/teachers.csv", index=indexing, header=headers)
df_courses.to_csv(f"{path}/courses.csv", index=indexing, header=headers)
df_classrooms.to_csv(f"{path}/classrooms.csv", index=indexing, header=headers)
df_meetings.drop(columns=["StartHour", "EndHour", "Year", "Month"]).to_csv(f"{path}/meetings.csv", index=indexing, header=headers)
df_surveys.to_csv(f"{path}/surveys.csv", index=indexing, header=headers)
df_exams.to_csv(f"{path}/exams.csv", index=indexing, header=headers)
df_attendance.to_csv(f"{path}/attendance.csv", index=indexing, header=headers)

Directory data already exists

In [ ]:
path = "data"
headers = True
indexing = False

mkdir(path)

df_students.to_csv(f"{path}/students.csv", index=indexing, header=headers)
df_classes.to_csv(f"{path}/classes.csv", index=indexing, header=headers)
df_teachers.to_csv(f"{path}/teachers.csv", index=indexing, header=headers)
df_courses.to_csv(f"{path}/courses.csv", index=indexing, header=headers)
df_classrooms.to_csv(f"{path}/classrooms.csv", index=indexing, header=headers)
df_meetings.to_csv(f"{path}/meetings.csv", index=indexing, header=headers)
df_surveys.to_csv(f"{path}/surveys.csv", index=indexing, header=headers)
df_exams.to_csv(f"{path}/exams.csv", index=indexing, header=headers)
df_attendance.to_csv(f"{path}/attendance.csv", index=indexing, header=headers)

In [12]:
path = "updates"

mkdir(path)

df = df_teachers.sample(n=15)
df["CityDistrict2"] = df["CityDistrict"].apply(lambda x: np.random.choice([y for y in defaultCityDistricts if y != x]))
df["update"] = df.apply(lambda x: f"Update Teachers SET CityDistrict = '{x['CityDistrict2']}' WHERE tID = {x['tID']};", axis=1)
df["update"].to_csv(f"{path}/updateTeachersCity.sql", index=False, header=False)

df = df_students.sample(n=15)
df["CityDistrict2"] = df["CityDistrict"].apply(lambda x: np.random.choice([y for y in defaultCityDistricts if y != x]))
df["update"] = df.apply(lambda x: f"Update Students SET CityDistrict = '{x['CityDistrict2']}' WHERE sID = {x['sID']};", axis=1)
df["update"].to_csv(f"{path}/updateStudentsCity.sql", index=False, header=False)

df = df_students.sample(n=15)
df["ClassName2"] = df["ClassName"].apply(lambda x: np.random.choice([y for y in df_classes["ClassName"].unique() if y != x]))
df["update"] = df.apply(lambda x: f"Update Students SET ClassName = '{x['ClassName']}' WHERE sID = {x['sID']};", axis=1)
df["update"].to_csv(f"{path}/updateStudentsClass.sql", index=False, header=False)

df = df_classes.sample(n=15)
df["tID2"] = df["tID"].apply(lambda x: np.random.choice([y for y in df_classes["ClassName"].unique() if y != x]))
df["update"] = df.apply(lambda x: f"Update Class SET tID = '{x['tID']}' WHERE ClassName = '{x['ClassName']}';", axis=1)
df["update"].to_csv(f"{path}/updateClassesTeacher.sql", index=False, header=False)

OSError: Cannot save file into a non-existent directory: 'updates'

In [8]:
import random
import numpy as np